<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FeatureBuilder.Properties.Settings.yelpConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=yelp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FeatureBuilder.Properties.Settings.yelp2ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=yelp2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>